@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Lora:ital,wght@0,400..700;1,400..700&family=Montez&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	height: 100vh;
}

body {
	height: 100vh;
}

p {
	font-family: Arsenal !important;
}

h2 {
	font-family: Lora !important;
}
